modem.img
system/system/apex/com.android.vndk.current.apex
system/system/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
system/system/data-app/MIBrowserGlobal/MIBrowserGlobal.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system_ext/priv-app/Settings/Settings.apk
vendor/lib64/camera/components/com.qti.node.mialgocontrol.so
product/app/Messages/Messages.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
